@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

$font-alata: "Alata", sans-serif;
$font-josefin: "Josefin Sans", sans-serif;

@mixin mainHeading {
  font-size: clamp(2.8rem, 5vw, 4.2rem);
  text-transform: uppercase;
  font-family: $font-josefin;
}

@mixin mainText {
  font-size: 1.5rem;
  line-height: 1.8;
  font-size: $font-alata;
  letter-spacing: 0.13rem;
  color: $color-dark-gray;
}

@mixin footerHoverEffect($bottom) {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 0;
  bottom: $bottom;
  left: 50%;
  z-index: 100;
  opacity: 0;
  transform: translateX(-50%);
  background-color: $color-white;
  transition: width 0.2s, opacity 0.2s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
