@use "base";
.header {
  min-height: 70vh;
  width: 100%;
  background: url(../images/desktop/image-hero.jpg) top no-repeat;
  background-size: cover;
  object-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;

  @media (max-width: 500px) {
    background: url(../images/mobile/image-hero.jpg) center no-repeat;
    background-size: cover;
    object-position: center;
  }
}

.main {
  padding: 10rem;
  .top {
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 10rem;
    &__left {
      grid-column: 1 / 5;
      grid-row: 1 /1;
      width: 100%;
      background-color: green;
      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__right {
      grid-column: 4 / 7;
      grid-row: 1 /1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &__textWrapper {
      padding: clamp(5rem, 2vw, 10rem) 0 0 clamp(5rem, 2vw, 10rem);
      max-height: 35rem;
      background-color: base.$color-white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    @media (max-width: 1077px) {
      .top {
        &__left {
          grid-column: 1 / 7;
          grid-row: 1 /2;
          margin-bottom: 5rem;
          img {
            width: 100%;
          }
        }

        &__right {
          margin: auto;
          grid-column: 1 / 7;
          grid-row: 2 /3;
          text-align: center;
          width: min(65, 80vw);
        }

        &__textWrapper {
          margin: 0;
          padding: 0;
          justify-content: flex-start;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7rem;
    }

    &__gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 2rem;
    }

    &__imgWrapper {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}
