@use "base" as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 12vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 10rem;
  &__logo {
    width: clamp(14.4rem, 15vw, 19.2rem);
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__links {
  }

  .menu {
    display: none;
    position: fixed;
    width: 2.4rem;
    height: 1.6rem;
    top: 5.3rem;
    right: clamp(2rem, 3vw, 5rem);
    z-index: 1000;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &__line {
      display: inline-block;
      width: 100%;
      height: 0.2rem;
      background-color: $color-white;
      pointer-events: none;
    }
  }

  @media (max-width: 1077px) {
    padding: 0 clamp(2rem, 3vw, 5rem);
    position: absolute;
    background-color: rgba(0 0 0 / 0.99);
    height: 100vh;
    top: -100vh;
    left: 0;
    transition: top 0.3s, left 0.3s;
    &__logo {
      position: fixed;
      top: 5rem;
    }
    &__links {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      transition: opacity 0.3s, visibility 0.3s;
    }

    &__link {
      margin: 2rem 0;
    }
    .menu {
      display: flex;
    }
  }

  @media (max-width: 374px) {
    &__links {
      text-align: left;
      margin: auto 0;
    }
  }
}
.change.nav {
  top: 0;
}

.header {
  min-height: 70vh;
  width: 100%;
  background: url(../images/desktop/image-hero.jpg) top no-repeat;
  background-size: cover;
  object-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  @media (max-width: 500px) {
    background: url(../images/mobile/image-hero.jpg) center no-repeat;
    background-size: cover;
    object-position: center;
  }
}

.main {
  margin-inline: 10rem;
  margin-top: 8rem;
  .top {
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 8rem;
    &__left {
      grid-column: 1 / 5;
      grid-row: 1 /1;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__right {
      grid-column: 4 / 7;
      grid-row: 1 /1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &__textWrapper {
      padding: clamp(5rem, 2vw, 10rem) 0 0 clamp(5rem, 2vw, 10rem);
      max-height: 35rem;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 13rem;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7rem;
    }

    &__gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 2.2rem;
    }
    &__imgWrapper {
      gap: 2.2rem;
      display: grid;
      background-color: $color-black;
      &:not(:nth-child(7)) > img {
        opacity: 0.8;
      }
    }
    &__img {
      display: block;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      object-fit: cover;
      width: 100%;
    }
    &__link--mobile {
      display: none;
    }
    &__img--mobile {
      display: none;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      object-fit: cover;
      width: 100%;
    }
  }

  @media (max-width: 374px) {
    .bottom__img--mobile {
      display: block;
    }
    .bottom__img {
      display: none;
    }
  }

  @media (max-width: 1077px) {
    margin-inline: clamp(2rem, 3vw, 5rem);
    .top {
      &__left {
        grid-column: 1 / 7;
        grid-row: 1 /2;
        margin-bottom: 5rem;
      }

      &__right {
        margin: auto;
        grid-column: 1 / 7;
        grid-row: 2 /3;
        text-align: center;
        max-width: 65vw;
        padding: 0.5rem;
      }

      &__textWrapper {
        margin: 0;
        padding: 0;
        justify-content: flex-start;
      }
    }
  }
  @media (max-width: 700px) {
    .top {
      &__right {
        margin: auto;
        grid-column: 1 / 7;
        grid-row: 2 /3;
        text-align: center;
        max-width: 85vw;
      }
    }
  }
  @media (max-width: 561px) {
    .bottom {
      &__link--mobile {
        display: inline-block;
      }
      &__link {
        display: none;
      }

      &__top--heading {
        margin: auto;
      }
    }
  }
}

.footer {
  background-color: $color-black;
  min-height: 16vh;
  max-width: 100%;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    margin-right: left;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__links {
    margin-top: 2rem;
  }

  &__socialMedia {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  &__imgWrapper {
    display: flex;
  }

  &__img {
    cursor: pointer;
    position: relative;
    img {
      display: block;
    }
    &:not(:first-child) {
      margin-left: 2rem;
    }
    &::before {
      @include underlinedHoverEffect(-0.8rem);
    }

    &:hover.footer__img::before {
      opacity: 1;
      width: 100%;
    }
  }
}

@media (max-width: 895px) {
  .footer {
    padding: 5rem clamp(2rem, 3vw, 5rem);
  }
}

@media (max-width: 739px) {
  .footer {
    flex-direction: column;
    padding: 0;
    gap: 5rem;
    &__left {
      width: 100%;
      align-items: center;
      margin-top: 5rem;
      text-align: center;
    }
    &__links {
      display: flex;
      flex-direction: column;
    }

    &__link:not(:first-child) {
      margin-left: 0;
    }

    &__link {
      margin: 1.3rem 0;
    }

    &__socialMedia {
      align-items: center;
      width: 100%;
      margin-bottom: 5rem;
    }
  }
}
